# Python 3.12

# core
django-environ          # Environment variable management
djangorestframework     # Django REST framework
django-gauth==0.3.1     # Google OAuth2 authentication for Django

# api
Markdown                # Markdown processing
pygments                # Syntax highlighting