/* version : 1.0.2 */
body {
    /* borders */
    border-left: 1px solid;
    border-right: 1px solid;
    /* margins */
    margin-bottom: 0;
    margin-top: 0;
    /* flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main { /* Assuming your main content is within a <main> tag or similar */
    flex-grow: 1; /* Allows the main content to expand and push the footer down */
    padding: 1em;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
